  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&family=Ubuntu:wght@300&display=swap');


*{
    text-decoration: none;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
.title{
    font-size: 30px;
    text-align: center;
    margin: 20px;
    font-weight: bold;
}
.logo{
    text-align: center;
}
.dados{
    align-items: center;
    display: flex;
    flex-wrap: wrap;

}
.card, .card-body{
    padding:5px;
    margin: 10px 5px 5px 0;

}
#nomePaciente,#tipoAlta, #idPaciente, #valorDiaria {
    margin: 20px 30px 0 0;
    padding: 20px;
    background-color: #d4edda;   
    outline: none;
    border-radius: 5px;
}
.grip-layout{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.btn-calcular, .btn-imprimir, .btn-parametros{
    cursor: pointer;
    font-size: 20px;
}

.logoImprimir{
    display: none;
}
.titulo-parametros{
    font-weight: 400;
    font-size: 25px;
}
.parametros{
    text-align: center;
    border-radius: 5px;
    width: 400px;
}
.texto-diaria, .texto-cidade{
    text-align: left;
    margin: 10px;
}
.parametros::backdrop{
    background-color: rgb(0 0 0 /0.9);
}
#assinatura{
    display: none;
}
.alert-danger{
    background-color: #f8d7da;
    margin-bottom: 10px;
    border: 1px solid #f8d7da ;
    border-radius: 5px;
    padding: 5px;
}
.alert-sucess{
    background-color:#d4edda;
    margin-bottom: 10px;
    border: 1px solid #f8d7da ;
    border-radius: 5px;
    padding: 5px;
}

@media print {
    body * {
        visibility: hidden;
    }
    .logoImprimir{
        display: block;
    }
    .logo-sus{
        width: 200px;
        margin-left: 400px;
    }
    .logo-sus{
        width: 200px;
        
    }
    .titulo-imprimir{
        text-align: center;
        width: 80vh;
        margin: 50px 50px;
        font-size: 30px;
    }
    #assinatura{
        margin-top: 500px;
        display: inline-block;
        flex-direction: column;
        justify-content: space-between;
    }
    .print-section, .print-section * {
        visibility: visible;
    }
    .print-section {
        position: absolute;
        left: 0;
        top: 0;
    }
    #nome,#printTipoAlta,#id, #printValorDiaria, #printDataEntrada,#printHoraEntrada,#printDataSaida,#printHoraSaida,#printValorTotal, #numeroDiarias,#valorTotal,#assinatura{
        font-size: 20px;
    }
}